%h1.m-3 Listing movies

%table.table.table-striped.table-hover
  %thead
    %tr
      %th.col Title
      %th.col Content
      %th.col Category
      %th
      %th
      %th

  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title
        %td= movie.content
        %td= movie.category.name
        %td= link_to 'Show', movie,class:"nav-link"
        %td= link_to 'Edit', edit_movie_path(movie),class:"nav-link"
        %td= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' },class:"nav-link"

%br

= link_to 'New Movie', new_movie_path,class:"nav-link"
