.mt-4.pt-2
  .row
    .col-2
      %ul.nav.nav-pills.flex-column
        %li.nav-item
          = link_to "All categories", home_index_path(), class:"nav-link #{ 'active' unless @category.id}"
        - @categories.each do |category|
          %li.nav-item
            - current_category = @category.id === category.id
            = link_to category.name, home_index_path(category_id: category.friendly_id), class:"nav-link #{'active' if current_category}"
    .col.d-flex.flex-row.flex-wrap
      = render partial: 'film', collection: @movies
  .row
    .col-2 
    .col.my-3
      = paginate @movies
      


