.container{"data-controller":"films"}
  .row
    .col-2
      %nav.nav.nav-pills.flex-column
        %li.nav-item
          = link_to "All categories", home_index_path(), class:"nav-link"
        - @categories.each do |category|
          %li.nav-item
            = link_to category.name, home_index_path(category_id: category.id), class:"nav-link"
            -# %a.nav-link(aria-current="page" data-action="click->films#setCategory" href="#" data-films-target="source" data-films-category-value="#{category.id}")=category.name
    .col
      %div()
        = render partial: 'film', collection: @movies
  .row
    .col-2 
    .col
      = paginate @movies
      -# %nav
      -#   %ul.pagination
      -#     %li.page-item
      -#       %a.page-link(data-action="click->films#setPage" data-films-page-value = 1) First 


